@mixin font($size, $weight: null, $style: null) {
  @include font-size($size);
  
  @if ($weight) {
    font-weight: #{$weight};
  }

  // @if ($style) {
  //   @include font-style($style);
  // }
}

@mixin font-size($size) {
  font-size: var(--text-#{$size});
}

@mixin font-weight($weight) {
  font-weight: $weight;
}

// @mixin font-style($style) {
//   @if ($style == 'italic') {
    
//   }
// }
