.Grid {
  display: grid;
  
  @for $i from 1 through 12 {
    &--mobile-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    &--tablet-#{$i} {
      @include get-min-width-breakpoint(tablet) {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }

    &--desktop-#{$i} {
      @include get-min-width-breakpoint(desktop) {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }
}
