.Nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 10px 0px;
    width: 100%;
    border-radius: 0;

    @include padding($y: 0, $x: 4);
    @include margin($top: 0, $bottom: 6);


    @include get-min-width-breakpoint(tablet) {
        width: 60%;
        border-radius: 3rem;
        
        @include padding($y: 0, $x: 8);
        @include margin($y: 6, $x: auto);
    }
}
