@import './../../sass/base/font';

.Title {
  $this: &;

  @for $i from 1 through 14 {
    &--size-#{$i} {
      @include font($i, 700);
    }

    &--spacing-#{$i} {
      @include padding($bottom: $i);
    }
  }

  &--weight {
    &-200 {
      @include font-weight(200);
    }

    &-300 {
      @include font-weight(300);
    }

    &-400 {
      @include font-weight(400);
    }

    &-500 {
      @include font-weight(400);
    }

    &-600 {
      @include font-weight(600);
    }
  }

  &--align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--white {
    color: #fff;
  }

  &--college {
    color: #00439b;
  }
}
