.Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include get-min-width-breakpoint(tablet) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include get-min-width-breakpoint(desktop) {
    grid-template-columns: repeat(12, 1fr);
  }
}
