.Section {  
  overflow: hidden;
  opacity: 1;
  animation: fade 1s linear;

  @include padding($top: 3, $right: 4, $bottom: 8, $left: 4);

  @include get-min-width-breakpoint(tablet) {
    @include padding($top: 3, $right: 10, $bottom: 8, $left: 10);
  }
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

